@font-face {
    font-family: SansProFont;
    src: url(../fonts/SourceSansPro-Regular.otf);
}

* {
    margin: 0 auto;
    padding: 0;
    font-family: SansProFont;
}

.clear {
    clear: both;
}

.sep {
    width: 80%;
    margin: 0 auto;
    padding-top: 10px;
    border-bottom: 2px solid #149cc1;
}

.page {
    padding: 5px;
    padding-left: 20px;
    color: #606060;
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.left-30 {
    position: relative;
    left: 30;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.mt-5 {
    margin-top: 5px;
}

.d-inline-block {
    display: inline-block;
}

.w-5p {
    width: 5% !important;
}

.w-95p {
    width: 95% !important;
}

/*----------------------------------------
    Generic Components
----------------------------------------*/
/*--------------------
        Header Top
--------------------*/
.header-top {
    position: fixed;
    top: 0;
    height: 40px;
    width: 100%;
    background-color: #3a3c3e;
    color: white;
    z-index: 100;
}

.social-links-top-header a {
    float: right;
}

.social-links-top-header {
    height: 100%;
    width: 50%;
    float: right;
    padding-right: 5px;
}

.social-links-top-header img {
    width: 30px;
    display: inline-block;
    height: 30px;
    margin: 5px 8px;
}

/*--------------------
        Header
--------------------*/
.header {
    height: 60px;
    margin-top: 40px;
    box-shadow: 0 1px 0 rgba(12, 13, 14, 0.1), 0 1px 6px rgba(59, 64, 69, 0.1);
}

.header .container {
    display: flex;
    justify-content: space-between;
}

.header .container>* {
    height: 60px;
    display: inline-flex;
    align-items: center;
    vertical-align: top;
    position: fixed;
    z-index: 100;
}

.header__logo {
    height: 59px;
    width: 60px;
}

.header__logo img {
    height: 100%;
    width: auto;
}

.header__search-bar {
    width: calc(80% - 182px);
}

.header__search-bar form {
    width: 100%;
}

.header__search-bar input {
    border: 1px solid #e2e2e2;
    border-radius: 2px;
    padding-left: 26px;
    background: #f4f4f4 url(../graphics/search-icon.png) no-repeat 8px center;
    background-color: rgb(244, 244, 244);
    background-size: auto auto;
    background-size: 13px;
    box-shadow: inset 0 1px 1px rgba(200, 200, 200, 0.3);
    font-size: 0.94rem;
    height: 30px;
    width: 100%;
    outline: none;
}

.nav {
    height: 50px;
    width: 100%;
    background-color: #4d4d4d;
    position: relative;
}

.nav>.nav-header {
    display: inline;
    height: 100%;
}

.nav>.nav-header>.nav-title {
    display: inline-block;
    font-size: 22px;
    height: 100%;
    color: #fff;
    /* padding: 10px 10px 10px 10px; */
}

.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}

.nav>.nav-links>a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
}

.nav>.nav-links>a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.nav>#nav-check {
    display: none;
}

@media (max-width:600px) {
    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        height: 100%;
        top: 0px;
    }

    .nav>.nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 39px;
        padding: 11px;
        padding-bottom: 0px;
        padding-top: 16px;
    }

    .nav>.nav-btn>label:hover {
        background-color: rgba(0, 0, 0, 0.3);
    }

    .nav>.nav-btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }

    .nav>.nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 60px;
        left: 0px;
    }

    .nav>.nav-links>a {
        display: block;
        width: 100%;
    }

    .nav>#nav-check:not(:checked)+.nav-links {
        height: 0px;
    }

    .nav>#nav-check:checked+.nav-links {
        height: calc(100vh - 300px);
        overflow-y: auto;
        z-index: 1;
        overflow: hidden;
    }
}

/*--------------------
    Section Heading
--------------------*/
.section-heading {
    text-align: center;
    height: 50px;
    width: 100%;
    background-color: lightgray;
}

.section-heading h2 {
    position: relative;
    top: 20%;
}

/*----------------------------------------
        Main Page Search Bar
----------------------------------------*/
.main-search-container {
    background: url(../graphics/main-bg.jpg);
    background-repeat: no-repeat;

    height: 315px !important;
    position: relative;
}

.search-bar-container button {
    margin: 0 auto;
    display: block;
    background-color: #00a78d;
    border-style: none;
    border-radius: 10px;
    width: 118px;
    height: 40px;
    margin-top: 5px;
    position: relative;
    color: white;
    outline: none;
    font-size: 1rem;
}

.big-search-bar {

    height: 48px;
    padding: 10px;
    margin: 0 auto;
    outline: none;
    font-size: 1.3rem;
    display: block;
    border-radius: 10px;
    border-style: none;
}

.search-bar-container {
    position: absolute;
    top: 35%;
    /* margin: 0 auto; */
    left: 30%;
    /* display: block; */
}

.search-bar-container select {
    display: block;
    margin: 0 auto;
    display: block;
    border-style: none;
    border-radius: 10px;
    width: 110px;
    text-align: center;
    padding: 5px 12px;
    margin-top: 5px;
    position: relative;
    outline: none;
    font-size: 1rem;
}

.blur-layer {
    width: 100%;
    height: 100%;
    /* position: absolute; */
    background-color: #00000026;
}

/*--------------------
        Main Page
--------------------*/
.main-container {
    width: 100%;
    height: auto;
    display: block;
    height: auto;
    background-color: #ccc;
}

/*----------------------------------------
     Main Page Featured Hostels
----------------------------------------*/
.featured-hostels {
    width: 90%;
    background-color: #80808036;
}

.featured-hostel-box {
    width: 100%;
    display: block;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 5px;
    height: auto;
    /* background-color: red; */
    padding: 5px 0px;
}

.featured-hostel-box p {
    padding: 0 20px;
}

button#myBtn {
    height: auto;
    box-sizing: border-box;
    display: block;
    padding: 4px;
    border-style: none;
    margin-top: 5px;
    width: 68px;
    border-radius: 10px;
    text-decoration: none;
    border-style: none;
    color: white;
    background-color: #00a78d;
}

.featured-hostel-box .hostel-feature-image {
    height: 180px;
    width: 80%;
}

.featured-hostel-box a.view-more-button {
    height: auto;
    box-sizing: border-box;
    display: block;
    padding: 10px;
    margin-top: 5px;
    width: 110px;
    border-radius: 10px;
    text-decoration: none;
    color: #222222;
    /* background-color: #00a78d; */
}
.featured-hostel-box a.view-more-button:hover{
    text-decoration: underline;
}

/*----------------------------------------
     CONTACT US PAGE
----------------------------------------*/
div#carea {
    width: 100%;
    text-align: center;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
}

div#fields input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
textarea {
    width: 100% !important;
    margin: 5px 0px;
    height: 50px;
    border-radius: 5px;
    border-style: none;
    box-sizing: border-box;
    padding: 0px 10px;
}

div#fields select{    height: 50px;
    border-radius: 5px;
    padding: 10px;
    outline: none;
    width: 100% !important;}

div#fields button {
    width: 100% !important;
    margin: 5px 0px;
    height: 50px;
    border-radius: 5px;
    border-style: none;
    padding: 0px 10px;
}

div#fields textarea {
    font-size: 1.2em !important;
}

div#msg_input {
    width: 100% !important;
}

/*--------------------
        footer
--------------------*/
footer {
    width: 100%;
    margin-top: 70px;
    height: auto;
    overflow: auto;
    text-align: center;
    background-color: #3a3c3e;
    padding: 20px 0px;
    color: #fff;
}

footer h3 {
    margin-bottom: 4px;

}

footer .social-icons {
    font-size: 30px;
}

.footer-left {
    width: 88%;
    margin: 0 auto;
}

.footer-left p {
    margin: 5px auto;
}

.footer-rigt {
    width: 88%;
    margin: 0 auto;
}

.subscribe-btn {
    position: relative;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    padding: 10px 0px;
    background-color: #757575;
    z-index: 1;
    border: 0;
    overflow: hidden;
    font-size: 14px;
    display: inline-block;
    border: 1px solid #0000001a;
    color: white;
    outline: none;
    width: 32%;
    display: inline-block;
}

footer .subscribe-btn:hover {
    background-color: #2196F3;
    transition: 0.5s;
}

.footer-right h3 {
    font-size: 18px;
    margin-top: 10px;
}

.footer-right .vertically-align-center {
    position: static;
    top: 0;
    transform: translateY(0);
}

footer .footer-right input {
    display: inline-block;
    width: 30%;
    padding: 4px 5px;
    outline: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-style: none;
    border-right: 0;
    border-color: #0000001a;
}

footer .footer-right #subscribebtn {
    padding: 4px 5px !important;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    outline: 0 !important;
    border-style: none !important;
    position: relative !important;
    left: -3px !important;
}

.social-links-top-footer img {
    margin-top: 3px;
    width: 30px;
    height: 30px;
}

/* qaisarcss */
.ser-link {
    position: relative;
}

.ser-dropdown {
    display: none;
    position: absolute;
    background: #fefefe;
    min-width: 230px;
    z-index: 19999;
}

.ser-link:hover .ser-dropdown {
    display: block;
}

.ser-dropdown ul {
    list-style: none;
}

@media(min-width: 768px) {
/*Privacy Policy*/
#privacy-banner {
   
  
    background-position-x: 0;
}
#privacy-section {
    width: 90% !important;
}
    /* About us  */
    #abt-title {
        background-color: #00000057;
        width: 300px;
        /* height: 69px; */
        border-radius: 15px;
    }

    #abt {
        width: 80%;
        padding: 40px;
        text-align: center;
        box-sizing: border-box;
    }


    /* old css */
    #mb-logo {
        /* float: left; */
        width: 20%;
        display: inline-block;
    }

    #toggle:not(:checked)+nav {
        display: inline-block;
        width: 70%;
    }

    #toggle:checked+nav {
        display: inline-block;
    }



    /*----------------------------------------
     CONTACT US PAGE 768
----------------------------------------*/
    div#msg_input {
        width: 50%;
    }

    div#carea {
        width: 50% !important;
        margin: 0 auto;
    }

    /*----------------------------------------
        Main Page Search Bar 768
----------------------------------------*/
    .main-search-container {
        height: 550px !important;
    }

    .big-search-bar {
        width: 600px;

    }

    /*----------------------------------------
     Main Page Featured Hostels 768
----------------------------------------*/
    .featured-hostel-box {
        display: inline-block;
        width: 33%;
    }

    .modal-content {
        width: 20% !important;
        height: 75px;
    }

    /*--------------------
        footer on 768
--------------------*/


    .footer-left {
        width: 49%;
        display: inline-block;
        margin: 0;
    }

    .footer-right {
        width: 49%;
        display: inline-block;
    }



    .footer-right .vertically-align-center {
        position: relative;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

}

@media(min-width: 1024px) {

    #abt {
        width: 70% !important;
        padding: 20px;
    }
}

/*
------------- Content CSS ---------------------
*/
main {
    /*background: #ddd;*/
}

.admin-form {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    text-align: center;
}

.admin-form div {
    padding: 10px;
}

.admin-form div button {
    padding: 10px;
    font-size: 1.2em;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #606060;
}

.admin-form div input {
    padding: 10px;
    font-size: 1.2em;
    border: 1px solid #ccc;
    color: #606060;
}

.admin-form input {
    width: 90%;
}

.admin-form div button:hover {
    color: #222222;
}

.conly {
    color: red;
}

textarea {
    width: 90%;
    height: 100px;
}

/* HTTP Error */
#http-error-sec {
    width: 100%;
    text-align: center;
}

#http-error-sec h1 {
    color: #129cc1;
    font-size: 3em;
}

#http-error-sec p {
    color: #666666;
    font-size: 1.5em;
}

#error-banner {
    width: 100%;
    height: 200px;
}

#error-banner img {
    width: 100%;
}

@media(min-width: 768px) {
    #http-error-sec {
        height: 380px;
    }

    #error-banner {
        width: 60%;
        height: 200px;
    }

    #error-banner img {
        width: 40%;
    }
}

section.dashboard {
    float: left;
    overflow: hidden;
    width: 100%;
    margin-top: 20px;
}

section .dashboard nav,
.options {
    width: 100%;
}

.admin-search-bar {
    float: right;
    margin-right: 50px;
}

.admin-search-bar button {
    padding: 0 10px;
    border-radius: 10px;
    outline: none;
    height: 26px;
}

.admin-search-bar input {
    width: 250px;
    padding: 0 10px;
    border-radius: 10px;
    outline: none;
    height: 25px;
}

nav .icon ul {
    box-shadow: 2px 0 8px #000
}

nav .icon ul li {
    padding: 20px
}

nav .icon ul li:hover {
    background-color: #5C9DF5;
    color: #FFF;
    cursor: pointer
}

nav .icon ul .select {
    background-color: #191b1e59;
    border-left: 3px solid #5C9DF5
}

nav .icon,
nav .options {
    float: left
}

nav .options p {
    color: black;
    font-size: 20px;
    padding: 5px 40px 5px 20px
}

nav .options h6 {
    color: #383B42;
    font-family: Arial, Tahoma;
    padding-left: 20px;
    margin: 10px 0
}

.admin-search-bar {
    display: inline-block;
}

nav .options ul {
    display: inline-block;
}

nav .options ul li {
    padding: 5px 5px 5px 20px;
    height: 22px;
    display: inline-flex;
}

nav .options ul li:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer
}

nav .options ul li span {
    margin-left: 20px;
    border: 1px solid #4B4E57;
    padding: 2px 5px;
    border-radius: 48%;
    font-size: 11px;
    color: #4B4E57
}

nav .options .nu {
    padding-left: 8px;
    padding-right: 8px
}

/* End Navbar */
/* About us  */
#abt-title {
    background-color: #00000057;
    width: 300px;
    /* height: 69px; */
    border-radius: 15px;
}

#abt {
    width: 95%;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}

#about-banner {
    width: 100%;
    height: 350px;
    background-image: url("../graphics/bg.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.banner-text {
    width: 80%;
    text-align: center;
    padding: 10px;
    padding-top: 100px;
    color: white;
    font-size: 1em;
}

#mb-logo {
    /* float: left; */
    width: 20%;
    display: inline-block;
}

#toggle:not(:checked)+nav {
    display: inline-block;
    width: 70%;
}

#toggle:checked+nav {
    display: inline-block;
}



/*Privacy Policy*/

#privacy-banner {
    width: 100%;
    height: 350px;
    background-image: url("../graphics/privacy-policy.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position-x: -595px;
}

#privacy-section {
    width: 100%;
    text-align: center;
    padding: 40px;
    box-sizing: border-box;
}

/* Responsive Tables*/
table { 
    width: 100%; 
    border-collapse: collapse; 
  }
  /* Zebra striping */
  tr:nth-of-type(odd) { 
    background: #eee; 
  }
  th { 
    background: #333; 
    color: white; 
    font-weight: bold; 
  }
  td, th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: left; 
  }
  @media only screen and (max-width: 760px),
(min-width: 768px) and (max-width: 1024px)  {

	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	#vh td:nth-of-type(1):before { content: "Hostel Name"; }
	#vh td:nth-of-type(2):before { content: "Hostel Type"; }
	#vh td:nth-of-type(3):before { content: "City"; }
	#vh td:nth-of-type(4):before { content: "Sector"; }
    #vh td:nth-of-type(5):before { content: "Address"; }
    
    #pk td:nth-of-type(1):before { content: "Package Name"; }
    #pk td:nth-of-type(2):before { content: "Price"; }
    #pk td:nth-of-type(3):before { content: "Description"; }
    
    .fk td:nth-of-type(1):before { content: "Feature Name"; }
	.fk td:nth-of-type(2):before { content: "Description"; }
}