@font-face{
    font-family: SansProFont;
    src: url(../fonts/SourceSansPro-Regular.otf);
}

*{
    margin:0 auto; padding: 0; font-family: SansProFont;
}

.clear{
    clear: both;
}
.sep{
    width: 80%;
    margin: 0 auto;
    padding-top: 10px;
    border-bottom: 2px solid #149cc1;
}
.page{
    padding: 5px;
    padding-left: 20px;
    color: #606060;
}
.text-left{
    text-align: left !important;
}
.text-center{
    text-align: center !important;
}
.left-30{
    position: relative;
    left: 30;
}
.mx-auto{
   margin-left: auto;
   margin-right: auto;
}
.d-inline-block{
    display: inline-block;
}
.w-5p{
    width: 5%  !important;
}
.w-95p{
    width: 95% !important;
}
/*----------------------------------------
    Generic Components
----------------------------------------*/
/*--------------------
        Header Top
--------------------*/
.header-top {
    position: fixed;
    top: 0;
    height: 40px;
    width: 100%;
    background-color: #3a3c3e;
    color: white;
}
.social-links-top-header a{ float: right;}
.social-links-top-header{
    height: 100%;
    width: 50%;
    float: right;
    padding-right: 5px;
}
.social-links-top-header img{
    width: 30px;
    display: inline-block;
    height: 30px;
    margin:  5px 8px;
}
/*--------------------
        Header
--------------------*/
.header {
    height: 60px;
    box-shadow: 0 1px 0 rgba(12,13,14,0.1),0 1px 6px rgba(59,64,69,0.1);
}

.header .container {
    display: flex;
    justify-content: space-between;
}

.header .container > * {
    height: 60px;
    display: inline-flex;
    align-items: center;
    vertical-align: top;
}

.header__logo {
}

.header__logo img {
    height: 100%;
    width: auto;
}

.header__search-bar {
    width: calc(80% - 182px);
}

.header__search-bar form {
    width: 100%;
}

.header__search-bar input{
    border: 1px solid #e2e2e2;
    border-radius: 2px;
    padding-left: 26px;
    background: #f4f4f4 url(../graphics/search-icon.png) no-repeat 8px center;
    background-color: rgb(244, 244, 244);
    background-size: auto auto;
    background-size: 13px;
    box-shadow: inset 0 1px 1px rgba(200,200,200,0.3);
    font-size: 0.94rem;
    height: 30px;
    width: 100%;
    outline: none;
}
nav input[type="checkbox"] {
    display: none;
}
nav label {
    display: block;
    width: 25px;
    height: 25px;
    background: url(../graphics/nav-links.png) no-repeat;
    background-size: cover;
}
nav input[type="checkbox"]:checked~ul {
    display: block;
}
nav ul li {
    list-style: none;
}
header nav ul {
    display: none;
    padding: 0;
    position: absolute;
    margin: 0;
    z-index: 100;
    width: 100%;
    top: 180px;
}
/*--------------------
    Section Heading
--------------------*/
.section-heading{
    text-align: center;
    height: 50px;
    width: 100%;
    background-color: lightgray;
}
.section-heading h2{
    position: relative;
    top: 20%;
}

/*--------------------
        Main Page
--------------------*/
.main-container{
    width: 100%;
    height: auto;
    display: block;
    height: auto;
    background-color: #ccc;
}

/*----------------------------------------
     Main Page Featured Hostels
----------------------------------------*/
.featured-hostels{
    width: 90%;
    background-color: #80808036;
}
.featured-hostel-box{
    width: 100%;
    display: block;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 5px;
    height: auto;
    /* background-color: red; */
    padding: 5px 0px;
}
.featured-hostel-box p{
    padding: 0 5px;
}
.featured-hostel-box .hostel-feature-image{
    height: 180px;
    width: 80%;
}
.featured-hostel-box a.view-more-button{
    height: auto;
    box-sizing: border-box;
    display: block;
    padding: 10px;
    margin-top: 5px;
    width: 100px;
    border-radius: 10px;
    background-color: #ccc;
}
/*----------------------------------------
     CONTACT US PAGE
----------------------------------------*/
div#carea {
    width: 100%;
    text-align: center;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
}
div#fields input[type="text"],input[type="email"],input[type="password"],textarea {
    width: 100% !important;
    margin: 5px 0px;
    height: 50px;
    border-radius: 5px;
    border-style: none;
    padding: 0px 10px;
}

div#fields  button{
    width: 100% !important;
    margin: 5px 0px;
    height: 50px;
    border-radius: 5px;
    border-style: none;
    padding: 0px 10px;
}

div#msg_input {
    width: 100% !important;
} 

/*--------------------
        footer
--------------------*/
footer {
    width: 100%;
    margin-top: 70px;
    height: auto;
    overflow: auto;
    text-align: center;
    background-color: #3a3c3e;
    padding: 20px 0px;
    color: #fff;
}

footer h3 {
    margin-bottom: 4px;

}

footer .social-icons {
    font-size: 30px;
}

.footer-left {
    width: 88%;
    margin: 0 auto;
}

.footer-left p {
    margin: 5px auto;
}

.footer-rigt {
    width: 88%;
    margin: 0 auto;
}

.subscribe-btn {
    position: relative;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    padding: 10px 0px;
    background-color: #757575;
    z-index: 1;
    border: 0;
    overflow: hidden;
    font-size: 14px;
    display: inline-block;
    border: 1px solid #0000001a;
    color: white;
    outline: none;
    width: 32%;
    display: inline-block;
}

footer .subscribe-btn:hover {
    background-color: #2196F3;
    transition: 0.5s;
}

.footer-right h3 {
    font-size: 18px;
    margin-top: 10px;
}

.footer-right .vertically-align-center {
    position: static;
    top: 0;
    transform: translateY(0);
}

footer .footer-right input {
    display: inline-block;
    width: 30%;
    padding: 4px 5px;
    outline: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-style: none;
    border-right: 0;
    border-color: #0000001a;
}

footer .footer-right #subscribebtn{
    padding: 4px 5px !important;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    outline: 0 !important;
    border-style: none !important;
    position: relative !important;
    left: -3px !important;
}

.social-links-top-footer img{
    margin-top: 3px;
width: 30px;
height: 30px;
}

/* qaisarcss */
.ser-link{
    position: relative;
}
.ser-dropdown{
    display: none;
    position: absolute;
    background: #fefefe;
    min-width: 230px;
    z-index: 19999;
}
.ser-link:hover .ser-dropdown{
    display: block;
}
.ser-dropdown ul{
    list-style: none;
}

@media(min-width: 768px) {
    nav ul {
        display: block;
        position: relative;
        top: 0;
    }
    nav{
        box-sizing: border-box;
        background: none;
        /* float: right; */
        display: inline-block;
    }
    #mb-logo{
        /* float: left; */
        width: 20%;
        display: inline-block;
    }
    #toggle:not(:checked)+nav{
     display: inline-block;
     width: 70%;
    }
    #toggle:checked+nav{
     display: inline-block;
    }
  
    nav ul li{
       display: inline-block;
      margin: 0 5px;
    }

/*----------------------------------------
     CONTACT US PAGE
----------------------------------------*/
div#msg_input {
    width: 50%;
}
div#carea { 
    width:50% !important; 
    margin: 0 auto;
}

    /*----------------------------------------
     Main Page Featured Hostels
----------------------------------------*/
.featured-hostel-box{
    display: inline-block;
    width: 33%;
}

     /*--------------------
        footer on 768
--------------------*/
 

.footer-left {
    width: 49%;
    display: inline-block;
    margin: 0;
}

.footer-right {
    width: 49%;
    display: inline-block;
}



.footer-right .vertically-align-center {
    position: relative;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

}

@media(min-width: 1024px) {
    nav ul li{
      /* padding: 15px; */
      /* padding-top: 30px; */
   }
}

/*
------------- Content CSS ---------------------
*/
main{
    background: #ddd;
}
.admin-form{
    width: 95%;
     padding: 10px;
     border: 1px solid #ccc;
     margin-top: 10px;
     margin-bottom: 10px;
     box-sizing: border-box;
    text-align: center;
}
.admin-form div
{
    padding: 10px;
}
.admin-form div button{
    padding: 10px;
    font-size: 1.2em;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #606060;
}
.admin-form div input{
    padding: 10px;
    font-size: 1.2em;
    border: 1px solid #ccc;
    color: #606060;
}
.admin-form input{
     width: 90%;
}
.admin-form div button:hover{
    color: #222222;
}
.conly{
    color: red;
}
textarea{
    width: 90%;
    height: 100px;
}
/* HTTP Error */
#http-error-sec{
    width: 100%;
    text-align: center;
}
#http-error-sec h1{
    color: #129cc1;
    font-size: 3em;
}
#http-error-sec p{
    color: #666666;
    font-size: 1.5em;
}
#error-banner{
    width: 100%;
    height: 200px;
}
#error-banner img{
    width: 100%;
}
@media(min-width: 768px)
{
    #http-error-sec{
        height: 380px;
    }
    #error-banner{
        width: 60%;
        height: 200px;
    }
    #error-banner img{
        width: 40%;
    }
}

section.dashboard {
    float: left;
    overflow: hidden;
    width: 100%;
    margin-top:20px;
}

section .dashboard nav,.options{
    width:100%;
}
.admin-search-bar{float:right; margin-right:50px;}

   .admin-search-bar button  {padding: 0 10px;
border-radius: 10px;
outline: none;
height: 26px;}
.admin-search-bar input {
    width: 250px;
    padding: 0 10px;
    border-radius: 10px;
    outline: none;
    height: 25px;}
nav .icon ul {
    box-shadow: 2px 0 8px #000
}

nav .icon ul li {
    padding: 20px
}

nav .icon ul li:hover {
    background-color: #5C9DF5;
    color: #FFF;
    cursor: pointer
}

nav .icon ul .select {
    background-color: #191b1e59;
    border-left: 3px solid #5C9DF5
}

nav .icon,
nav .options {
    float: left
}

nav .options p {
    color: black;
    font-size: 20px;
    padding: 5px 40px 5px 20px
}

nav .options h6 {
    color: #383B42;
    font-family: Arial, Tahoma;
    padding-left: 20px;
    margin: 10px 0
}
.admin-search-bar {
    display: inline-block;
}
nav .options ul { 
    display : inline-block;
}
nav .options ul li {
    padding: 5px 5px 5px 20px;
    height: 22px
}

nav .options ul li:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer
}

nav .options ul li span {
    margin-left: 20px;
    border: 1px solid #4B4E57;
    padding: 2px 5px;
    border-radius: 48%;
    font-size: 11px;
    color: #4B4E57
}

nav .options .nu {
    padding-left: 8px;
    padding-right: 8px
}

/* End Navbar */

